.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  transition: .5s linear;
}

@media screen and (max-width: 900px) {
  .profile__avatar {
    justify-self: center;
  }
}

@media screen and (max-width: 680px) {
  .profile__avatar {
    width: 100%;
    height: 100%;
  }
}

.profile__avatar:hover {
  transform: scale(1.04);
}
