@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

/* <error> */
@import url(./blocks/error/error.css); 
/* </error> */

/* <loader> */
@import url(./blocks/loader/loader.css);
/* <loader> */

/* <page> */
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
/* </page> */

/* <header> */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__auth/header__auth.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__text/header__text.css);

@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__burger/header__burger.css);

@import url(./blocks/header/__mobile-menu/header__mobile-menu.css);
@import url(./blocks/header/__mobile-menu/_opened/header__mobile-menu_opened.css);
@import url(./blocks/header/__mobile-menu/__exit/header__mobile-menu_exit.css);

@import url(./blocks/header/__user-info/header__user-info.css);
@import url(./blocks/header/__email/header__email.css);
/* </header> */



/* <content> */
@import url(./blocks/content/content.css); 
/* </content> */

/* <auth */
@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__submit/auth__submit.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__signup/auth__signup.css);
@import url(./blocks/auth/__signup/_link/auth__signup_link.css);
@import url(./blocks/auth/__signup/_text/auth__signup_text.css);
/* <auth */

/* <profile> */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__heading/profile__heading.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__wrapper-relative/profile__wrapper-relative.css);
@import url(./blocks/profile/__edit-avatar/profile__edit-avatar.css); 
/* </profile> */

/* <elements> */
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css); 
/* </elements> */

/* <element> */
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__group/element__group.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__count-like/element__count-like.css);
@import url(./blocks/element/__trash/element__trash.css); 
/* </element> */

/* <footer> */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__title/footer__title.css); 
/* </footer> */

/* <popup> */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__label/popup__label.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(./blocks/popup/__save/_disabled/popup__save_disabled.css);

@import url(./blocks/popup/__image-overlay/popup__image-overlay.css);
@import url(./blocks/popup/__tooltip/popup__tooltip.css);
@import url(./blocks/popup/__tooltip/_image/popup__tooltip_image.css);
@import url(./blocks/popup/__tooltip/_message/popup__tooltip_message.css);
/*</popup> */


