.element__title{
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  /* лишний текст превращает в точки */
  display: block;
  width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 620px) {
  .element__title {
    font-size: 1.5rem;
    line-height: 1.8125rem;
  }
}
